.rate {
	width: 3em;
	height: 1.6em;
	top: 50%;
	font-weight: bold;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
}		
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	/* Set the fixed height of the footer here */
	line-height: 40px; /* Vertically center the text there */
}

#introductionModal {
top:20%;
right:0%;
outline: none;
}

#realStartModal {
top:20%;
right:0%;
outline: none;
}
